EMOJME_AUTH='{"token":"xoxc-0000000000000-1111111111111-2222222222222-33333333444444445555555566666666777777778888888899999999aaaaaaaa","domain":"myslack","cookie":"xoxd-cookiecookiecookiecookiecookiecookiecookiecookiecookiecooki      ecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiecookiexx"}'
