# Lifecyle scripts are a primary attack vector for npm packages, and not needed
# for this project, so disable them.
ignore-scripts=true

# The majority of supply-chain attacks are detected and mitigated within a few
# hours of release. Preventing a published package from being installed for a
# period of two days is more than enough to prevent most attacks.
min-release-age=2
